<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <title>Admin</title>
    <style>
       #response
        {
            margin-top: 50px;
            text-align:center;
            margin-left: 100px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bolder;
            font-size: large;
            margin-top: 10px;
            margin-bottom: 10px;
      }
      #response1
        {
            margin-top: 50px;
            text-align:center;
            margin-left: 70px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bolder;
            font-size: large;
            margin-top: 30px;
            margin-bottom: 10px;
      }
      #table1,th,td,tr
      {
         table-layout: fixed;
         border:2px solid black;
         padding: 10px;
      }
      a{
        text-decoration: none;
        color: black;
       }
    li{
        display: inline;
        margin:20px;
       
    }
    ul{
        margin-top: 60px;
    }
    #navbar
    {
        text-align: center;
        border:5px solid white;
        background-color: aliceblue;
        width: 100%;
        height:200px;
        font-family: 'Courier New', Courier, monospace;
        font-size: large;
        font-weight: bold;
        
    }
    #log
        {
            border: none;
            background-color: transparent;
            width: 50px;
            align: right;
            float: right;
            margin-right: 5px;
        }
    </style>
</head>
<body onload="mypop()">
   <script>
      function mypop()
      {
          m='{{deletemsg}}'
          console.log(m)
          if(m=="True")
              alert("Deleted Successfully")
      }
  </script>
   <nav>
      <div id="navbar">
         <div id="log"><a class="nav-link" href="{{url_for('logout')}}"><i class="fa-solid fa-right-from-bracket" style="font-size:30px;color:black"></i></a></div>
          <ul>
              <li><a href='{{ url_for("hello") }}'>Home</a></li>
          </ul>
      </div>
  </nav>
  <div id="response">
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Categories</a>
      <div class="row">
         <div class="col">
           <div class="collapse multi-collapse" id="multiCollapseExample1">
             <div class="card card-body">
               <table border = 1 class="table table-hover">
                  <thead class="thead-dark">
                  <tr>
                     <th scope="col">CategoryID</th>
                        <th scope="col">CategoryName</th>
                        <th scope="col">Delete</th>
                  </tr>
                  </thead>
                  
                  {% for row in category %}
                     <tr>
                        <th scope="row">{{row["CATEGORYID"]}}</th>
                        <td>{{row["CATEGORYNAME"]}}</td>	
                        <td><button><a href="/delete/{{'CATEGORY'}}/{{row['CATEGORYID']}}">Delete</a></button></td>
                     </tr>
                  {% endfor %}
               </table>
               <div>
                  <!-- <a href="{{url_for('user', username='mohamed')}}" class="btn btn-primary" role="button" style="width:150px;">Add</a> -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                     Add
                   </button>
                   <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                     <div class="modal-dialog">
                       <div class="modal-content">
                         <div class="modal-header">
                           <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                         </div>
                         <div class="modal-body">
                           <form method="POST" action="{{url_for('addRecord',tablename='CATEGORY')}}">
                              <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">CategoryName</label>
                                <input type="name" name="catname" class="form-control" id="exampleInputPassword1">
                              </div>
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                         </div>
                         <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                         </div>
                       </div>
                     </div>
                   </div>
                </div>
             </div>
           </div>
         </div>
      </div>
  </div>
  <div id="response1" class="table table-hover">
   <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Products</a>
   <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
          <div class="card card-body">
            <table border = 1>
               <thead>
                  <td>ProductID</td>
                  <td>ProductName</td>
                  <td>CategoryID</td>
                  <td>Unit</td>
                  <td>Price</td>
                  <td>Delete</td>
               </thead>
               
               {% for row in prods %}
                  <tr>
                     <td>{{row["PRODUCTID"]}}</td>
                     <td>{{row["PRODUCTNAME"]}}</td>	
                     <td>{{row["CATEGORYID"]}}</td>	
                     <td>{{row["UNIT"]}}</td>	
                     <td>{{row["PRICE"]}}</td>	
                     <td><button><a href="/deleteRec/{{row['PRODUCTID']}}">Delete</a></button></td>
                  </tr>
               {% endfor %}
            </table>
            <div style="margin-top:10px;">
               <!-- <a href="" class="btn btn-primary" role="button" style="width:150px;">Add</a> -->
               <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                  Add
                </button>
                <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="{{url_for('addRecord',tablename='PRODUCT')}}">
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">ProductName</label>
                            <input type="name" name="prodname" class="form-control" id="exampleInputPassword1">
                          </div>
                          <div class="mb-3">
                             <label for="exampleInputPassword1" class="form-label">CategoryID</label>
                             <input type="name" name="catid" class="form-control" id="exampleInputPassword1">
                           </div>
                           <div class="mb-3">
                             <label for="exampleInputPassword1" class="form-label">Unit</label>
                             <input type="name" name="unit" class="form-control" id="exampleInputPassword1">
                           </div>
                           <div class="mb-3">
                             <label for="exampleInputPassword1" class="form-label">Price</label>
                             <input type="name" name="price" class="form-control" id="exampleInputPassword1">
                           </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div> 
            </div>
          </div>
        </div>
      </div>
   </div>

  </div>
   
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
 
</body>
</html>