<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <p><strong style="color:red">{{msg}}</strong></p>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>mail</td>
                <td>mobile</td>
                <td>password</td>
            </tr>
        </thead>    
        <tbody>
            {% for i in rows %} 
                <tr>
                    <td>{{ i[USERID']</td>
                    <td>{{ i['USERNAME'] }}</td>
                    <td>{{ i['EMAIL'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>