<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            background-image: url('C:\\Users\\musammil-pt5773\\Downloads\\gradient-cactus.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<script>
    window.watsonAssistantChatOptions = {
      integrationID: "5e62b18f-ca71-4d8f-8d5c-77c9c8c01598", // The ID of this integration.
      region: "jp-tok", // The region your integration is hosted in.
      serviceInstanceID: "c38d61d0-0061-4f2a-8197-96810297fe55", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>
<body>
    <div style="text-align:center;">
        <h1>Welcome to the Hosital Management System</h1>
    </div>
</body>
</html>